<%# Combine top-level nav links from repository menu bar & the DUL shared mast %>
<%# into one, so we have only one hamburger menu. %>
<div id="mobile-only-menu" class="collapse navbar-collapse">
  <nav id="mobile-only-menu-nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item flex-fill flex-grow-1">
          <a class="nav-link" href="https://library.duke.edu/my-accounts">My Accounts</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="<%= ask_rubenstein_url %>">Ask a Librarian</a>
        </li>
        <%# links from DUL nav %>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/find">Search &amp; Find</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/using">Using the Library</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/research">Research Support</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/course-support">Course Support</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/libraries">Libraries</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="https://library.duke.edu/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
