<%# Override BL core template in order to render index_range -%>
<%# A-Z navigation in the "more" modal regardless of current -%>
<%# sort. I.e., by default items are sorted by count. See:   -%>
<%# https://github.com/projectblacklight/blacklight/blob/release-8.x/app/views/catalog/facet.html.erb -%>
<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_prefix do %>
    <div class="facet-pagination top row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>

  <% component.with_title { facet_field_label(@facet.key) } %>
  <%= render Blacklight::Search::FacetSuggestInput.new(facet: @facet, presenter: @presenter) %>

  <%# DUL CUSTOMIZATION HERE: don't just render the index nav when  -%>
  <%# sorted A-Z. Render it in the default numerical sort too. If a -%>
  <%# user clicks a letter, the UI automatically switches them over -%>
  <%# to A-Z, which seems reasonable. -%>
  <%#= render partial: 'facet_index_navigation' if @facet.index_range && @display_facet.index? %>
  <%= render partial: 'facet_index_navigation' if @facet.index_range %>


  <div class="facet-extended-list">
    <%= render Blacklight::FacetComponent.new(display_facet: @display_facet,
                                              blacklight_config: blacklight_config,
                                              layout: false) %>
  </div>

  <% component.with_footer do %>
    <div class="facet-pagination bottom flex-row justify-content-between">
      <%= render :partial=>'facet_pagination' %>
    </div>
  <% end %>
<% end %>
