#header-navbar {
  background: $dul-masthead-blue;
  padding-top: none;
  border-top: none;
  padding: 18px 0 10px 0;
  margin-bottom: 0;
  z-index: 200;

  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06),
              0 16px 16px rgba(0,0,0,0.06);



  /* =============== */
  /* BRANDING / LOGO */
  /* =============== */

  .navbar-dul {
    margin-right: 1rem;
    float: left;
    @include media-breakpoint-only(xs) {
      margin-right: 0.75rem;
    }
    @include media-breakpoint-only(md) {
      margin-right: 0.5rem;
    }
  }

  .navbar-logo {
    width: 134px;
    height: 44px;
    background-size: cover;
    background-image: asset_url('dul-logos/dul_logo_white.png');
    margin-right: 0;
    margin-top: 0;
    @include media-breakpoint-only(xs) {
      background-image: asset_url('dul-logos/dul_devil_white.png');
      width: 24px;
    }
    @include media-breakpoint-only(md) {
      background-image: asset_url('dul-logos/dul_devil_white.png');
      width: 24px;
    }
  }

  .navbar-product-name {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
     text-decoration: none;
     .product-name-secondary {
       color: $light;
     }
    }

    .product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 24px;
      line-height: 18px;
      margin-top: 0;
      color: white;
      @include media-breakpoint-only(md) {
        font-size: 22px;
      }
    }

    .product-name-secondary {
      display: block;
      color: $gray-300;
      font-size: 21px;
      margin-top: 1px;
      padding-top: 0;
      padding-left: 1px;
      @include media-breakpoint-only(md) {
        font-size: 19px;
      }
    }
  }

  // Override some rendering here via CSS, easier
  // than modifying the components from BS core.
  .navbar-search {
    padding: 0;
    background-color: transparent !important;
    border-top: 0;
    border-bottom: 0;
    .container {
      padding: 0;
    }
  }

  /* ============== */
  /* MASTHEAD LINKS */
  /* ============== */

  #user-utilities {

    .navbar-nav {
      margin-bottom: 1rem;
      @media (max-width: 991px) {
        display: none;
      }

      > .open > a {
        color: white;
        background-color: transparent;
      }

      a {
        color: $gray-200;
        text-transform: none;
        margin-bottom: 0;
        font-size: 15px;
        padding: 4px 10px 0 10px;

        &:hover, &:focus {
          color: $dandelion;
          background-color: transparent;
          text-decoration: underline;
        }

        &:focus {
          outline: 1px auto white;
        }

        & .nav-label {
          padding-left: 0.5rem;
        }
      }


      @include media-breakpoint-only(xl) {
        .nav-label {
          display: none;
        }
      }
    }
  }

  /* ================== */
  /* Mobile Menu Toggle */
  /* ================== */

  #mobile-menu-button {
    width: unset;
    right: 1rem;
    border-color: white;
  }

    /* ======++++===== */
  /* Advanced Search */
  /* =====++++====== */

  .search-extra-controls {
    font-size: 0.9rem;

    a {
      color: $gray-200;
      &:hover, &:active, &:focus {
        color: $dandelion;
      }
    }

    #bookmarks_nav {
      margin-left: 1.35rem;
      .bookmarks-label {
        padding-left: 0.15rem;
      }
      &:has([data-bookmark-count="0"]) {
        display: none;
      }
    }

  }
}

#mobile-only-menu-nav {
  background-color: $duke-navy-blue;
  a.nav-link {
    @include fw-semibold;
    padding: 15px;
    line-height: 22px;
    display: block;
    color: white;
    &:hover, &:focus {
      color: $dandelion;
    }
  }
}
